<!DOCTYPE html>
<html>
  <head>
    <title>MyUtility</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    
  </head>

  <body  id="page-top">
  <%= render 'layouts/header'%>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <% flash.each do |type, msg| %>
        <% if type == "notice" %>
          <div class="alert alert-success">
        <% elsif type == "alert" %>
          <div class="alert alert-danger">
        <% else %>
          <div class='alert alert-<%= "#{type}" %>'>
        <% end %>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <ul>
          <li>
            <%= msg %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <%= yield %>
  <%= render 'layouts/footer'%>
  </body>
</html>
